body {
  padding-top: 5rem;
  font-family: 'Droid Sans', sans-serif;
}

.navbar {
  background-color: #52B415;
}

.container {
  max-width: 940px;
  padding: 3rem 1.5rem;
}

.btn-primary-outline {
  color: #52b415;
  background-color: transparent;
  border-color: #52b415
}

.btn-primary-outline:focus,
.btn-primary-outline:hover {
  color: #fff;
  background-color: #52b415;
  border-color: #52b415;
}